@model MovieMonster.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    <h5>Information</h5><br />
    <h6>Skådespelare</h6>
    @foreach(var item in Model.Actors)
    {
        <dl>
            <dd class = "col-sm-10">
                <p>@item.FirstName @item.LastName</p>
            </dd>
        </dl>
    }
    <h6>Biograf</h6>
    @foreach(var cinema in Model.Cinemas)
    {
        <dl>
            <dd class = "col-sm-10">
                <p>@cinema.Name</p>
            </dd>
        </dl>
    }
    <h6>Kategori</h6>
    @foreach(var category in Model.Categories)
    {
        <dl>
            <dd class = "col-sm-10">
                <p>@category.Name</p>
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
